.search{
    color: rgb(228, 113, 85);
    padding: 20px;
}
.link
{
    padding: 10px 32px;
    font-size: 28px;
    background-color: #f44336;
    color: aliceblue;
}
.link:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}
.total{
    padding: 10px 22px;
    font-size: 24px;
    background-color: #f44336;
    color: aliceblue;
}
.but{
    padding-left: 75%;
}