<h2>Add New Product Here!!</h2><br>
<input [(ngModel)]="code" type="text" pInputText placeholder="Product Code"/>
<input [(ngModel)]="name1" type="text" pInputText placeholder="Product Name"/>
<input [(ngModel)]="price" type="text" pInputText placeholder="Product Price"/>
<input [(ngModel)]="gst" type="text" pInputText placeholder="GST Percent"/>
<button (click)="insert()" pButton type="button" label="Add" ></button>
<br><br><br><br><br><br>
<p-dataTable [value]="rows" [editable]="true">
    <p-column field="product_code" header="Vin" ></p-column>
    <p-column field="product_name" header="Year" [editable]="true"></p-column>
    <p-column field="product_price" header="Brand" [editable]="true"></p-column>
    <p-column field="product_gst" header="Color" [editable]="true"></p-column>
    <p-column header="Edit">
        <ng-template let-product="rowData" let-i="rowIndex"  pTemplate="body">
            <button type="button" pButton (click)="update(product)" icon="fa-edit"></button>
        </ng-template>
    </p-column>
</p-dataTable>